 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  background-image: none;
  margin: 11px auto 0;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 9px auto 0;
  padding: 9px 68px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 9px auto 0;
  padding: 9px 60px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: 9px auto 0;
  padding: 9px 101px 10px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  background-image: none;
  margin: 9px auto 0;
  padding: 9px 53px 10px 52px;
}

.u-section-1 .u-btn-6 {
  font-size: 1.25rem;
  background-image: none;
  margin: 9px auto 0;
  padding: 9px 73px 10px;
}

.u-section-1 .u-text-2 {
  width: 592px;
  margin: 46px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 46px auto 0;
}

.u-section-1 .u-text-4 {
  width: 592px;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-7 {
  font-size: 1.25rem;
  background-image: none;
  margin: 22px auto 0;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-btn-8 {
  font-size: 1.25rem;
  background-image: none;
  margin: 11px auto 60px;
  padding: 10px 62px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 187px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -229px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 68px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 83px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 247px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -289px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 166px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 34px;
  }
}