* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sf';
    src: url('fonts/sf.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'sf', sans-serif;
      background-color: #000000;
      color: #ffffff;
      line-height: 1.6;
  }
  
  header {
      background-color: #191919;
      color: #ffffff;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px 0;
      text-align: center;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

.logo {
    margin-left: 40px;
    position: absolute;
    align-items: center;
    display: flex;
}

.logo a {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
}

.site-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    top: 7.7px;
}

footer {
    background-color: #191919;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.social-link:hover {
    text-decoration: underline;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.telegram-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.telegram-link:hover {
    text-decoration: underline;
}

.telegram-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

nav {
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.first-row, .second-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
}

.first-row li, .second-row li {
    margin: 0 1px;
}

header nav ul li {
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.first-row {
    margin-bottom: 17px;
}

.nav-button {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

main {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.mobile-header {
    display: none;
}

.palette-icon {
    width: 100%;
    height: auto;
}


.bootleg-section {
    margin-bottom: 50px;
}

.bootleg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 20px;
}

.bootleg-description {
    margin-top: 30px;
    font-size: 1.75em;
    line-height: 1.4;
    max-width: 800px;
    margin: 0;
    text-align: left;
    word-wrap: break-word;
    padding: 10px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1600px;
    margin-bottom: 20px;
}

.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0.1px black;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px white;
    transition: transform 0.3s ease;
}


.download-button {
    display: inline-block;
    background-color: #005e92;
    color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.download-button img.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transform: translateY(4px);


}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.palette-container {
    position: relative;
}

.palette-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 40px;
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

.palette-icon {
    width: 100%;
    height: auto;
}

.color-picker {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 1px;
    padding: 11px;
    position: absolute;
    top: calc(100% + 32px);
    right: calc(0px + 40px);
    z-index: 1001;
}

.color-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.color-option {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #dddddd;
}

.hidden {
    display: none;
}

.color-picker h4 {
    color: #000000;
    margin: 0;
}

.download-button {
    transition: transform 0.3s ease;
}

.download-button:hover {
    transform: scale(1.07);
}

.floating-panel {
    position: fixed;
    top: 120px;
    left: 20px;
    background-color: rgba(240, 240, 240, 0.9); 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 250px;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
}

.panel-header span {
    flex-grow: 1;
    margin-left: 3px;
    color: black;
    white-space: nowrap;
}

.panel-header .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px; 
    padding: 0;
    line-height: 1;
    margin-left: 24px;
    color: black;
}

.floating-panel button {
    display: block;
    width: 100%;
    margin: 2px 0;
    padding: 5px 10px;
    background-color: #005e92;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: left; 
}

@media (max-width: 1170px) {
    header {
        display: none;
    }
    
    .mobile-header {
        display: block;
        background-color: #002b5e;
        color: #ffffff;
        padding: 15px 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .mobile-header nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .mobile-header nav ul li {
        margin: 0 5px;
    }

    .mobile-header nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px;
        background-color: #005a8d;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .mobile-header nav ul li a:hover {
        background-color: #0073aa;
    }

    main {
    	margin-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 90px;
    }

    .button-section {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .button-section a {
        flex: 1 1 calc(50% - 10px);
        margin: 0;
        padding: 8px 16px;
        background-color: #2e2e2e;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease;
        max-width: none;
        transform: scale(1);
    }

    .button-section a:nth-child(3) {
        flex-basis: 100%;
    }

    .floating-panel {
        position: fixed;
        top: 70px;
        left: 20px;
        background-color: rgba(240, 240, 240, 0.9); 
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 240px;
    }
    
    .panel-header {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-bottom: 10px;
    }
    
    .panel-header span {
        flex-grow: 1;
        margin-left: 3px;
        color: black;
        white-space: nowrap;
    }
    
    .panel-header .close-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 14px; 
        padding: 0;
        line-height: 1;
        margin-left: 20px;
        color: black;
    }
    
    .floating-panel button {
        display: block;
        width: 100%;
        margin: 2px 0;
        padding: 5px 10px;
        background-color: #003a69;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 12px;
        text-align: left; 
    }
}

@media (max-width: 1000px)
{
    .floating-panel {
        display: none;
        top: 0px;
    }
    
    .panel-header {
        display: none;
    }
    
    .panel-header span {
        display: none;
    }
    
    .panel-header .close-button {
        display: none;
    }
    
    .floating-panel button {
        display: none;
    }
}



.accordion-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.accordion {
    background-color: #005e92;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.4s ease;
    border-radius: 10px;
    justify-content: center;
    position: relative;

}

.accordion::after {
    content: '\002B';
    color: white;
    right: 20px;
    position: absolute;


}

.accordion.active::after {
    content: "\2212";
    color: white;
}

.panel {
    border-radius: 10px;
    background-color: #002b5e;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.panel.open {
    max-height: 500px;
    opacity: 1;
}

@media (max-width: 600px) {
    footer p {
        display: none;
    }
}
