* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a1f44;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #002b5e;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
    position: absolute;
    align-items: center;
    display: flex;
}

.logo a {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
}

.site-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    top: 7.7px;
}

.mobile-header {
    display: none;
}

@media (max-width: 600px) {
    header {
        display: none;
    }
    
    .mobile-header {
        display: block;
        background-color: #002b5e;
        color: #ffffff;
        padding: 15px 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .mobile-header nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .mobile-header nav ul li {
        margin: 0 0px;
    }

    .mobile-header nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px;
        background-color: #005a8d;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .mobile-header nav ul li a:hover {
        background-color: #0073aa;
    }
}

footer {
    background-color: #002b5e;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.social-link:hover {
    text-decoration: underline;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.telegram-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.telegram-link:hover {
    text-decoration: underline;
}

.telegram-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

main {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

@media (max-width: 600px) {
    main {
    margin-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
    	padding-bottom: 70px;
    }
}


.container {
    max-width: 1200px;
    width: 100%;
}

.program-section {
    margin-bottom: 50px;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

nav {
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}


.repack-label {
    position: absolute;
    top: 3px;
    right: -21px;
    background-color: red;
    color: white;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(15deg);
}

.audience-suggestion-label {
    position: absolute;
    top: 3px;
    right: -29px;
    background-color: blue;
    color: white;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(15deg);
}


.first-row, .second-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
}

.first-row li, .second-row li {
    margin: 0 1px;
}

header nav ul li {
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; 
}

.first-row {
    margin-bottom: 17px;
}

.nav-button {
    background-color: #005a8d;
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #0073aa;
    text-decoration: none;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.program {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #005a8d;
    border-radius: 10px;
    position: relative;
}

.program-icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.program-description {
    flex-grow: 1;
}

.program-description p {
    margin: 0 0 10px;
}

.download-button {
    display: inline-block;
    background-color: #012987;
    color: #ffffff;
    padding: 8px 20px;
    margin: 0 4px;
  position: relative;
  left: -4px;

    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-button:hover {
    background-color: #1640a1;
    transform: scale(1.1);
}
