* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sf';
    src: url('/fonts/sf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color: #0a1f44;
    color: #ffffff;
    font-family: 'sf', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #002b5e;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
    position: absolute;
    align-items: center;
    display: flex;
}

.logo a {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
}

.site-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    top: 7.7px;
}

.mobile-header {
    display: none;
}

footer {
    background-color: #002b5e;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-link, .telegram-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.social-link:hover, .telegram-link:hover {
    text-decoration: underline;
}

.social-icon, .telegram-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

main {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

@media (max-width: 600px) {
    main {
        margin-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 70px;
    }
}

.container {
    max-width: 1200px;
    width: 100%;
}

.program-section {
    margin-bottom: 50px;
}

nav {
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.repack-label, .audience-suggestion-label {
    position: absolute;
    top: 3px;
    right: -21px;
    color: white;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(15deg);
}

.repack-label {
    background-color: red;
}

.audience-suggestion-label {
    background-color: blue;
}

.first-row, .second-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
}

.first-row li, .second-row li {
    margin: 0 1px;
}

header nav ul li {
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; 
}

.first-row {
    margin-bottom: 17px;
}

.nav-button {
    background-color: #005a8d;
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #0073aa;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.program {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px;
    background-color: var(--header-color, #002b5e);
    border-radius: 10px;
    position: relative;
}

.program-icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.program-description {
    flex-grow: 1;
}

.program-description p {
    margin: 0 0 10px;
}

.download-button {
    display: inline-block;
    background-color: var(--button-color, #005e92);
    color: #ffffff;
    padding: 8px 20px;
    margin: 0 4px;
    position: relative;
    left: -4px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-button:hover {
    transform: scale(1.1);
}

.palette-container {
    position: relative;
}

.palette-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 40px;
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

.palette-icon {
    width: 100%;
    height: auto;
}

.color-picker {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 1px;
    padding: 11px;
    position: absolute;
    top: calc(100% + 32px);
    right: calc(0px + 40px);
    z-index: 1001;
}

.color-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.color-option {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #dddddd;
}

.hidden {
    display: none;
}

.color-picker h4 {
    color: #000000;
    margin: 0;
}

.floating-panel {
    position: fixed;
    top: 120px;
    left: 20px;
    background-color: rgba(240, 240, 240, 0.9); 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 200px;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
}

.panel-header span {
    flex-grow: 1;
    margin-left: 3px;
    color: black;
    white-space: nowrap;
}

.panel-header .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px; 
    padding: 0;
    line-height: 1;
    margin-left: 68px;
    color: black;
}

.floating-panel button {
    display: block;
    width: 100%;
    margin: 2px 0;
    padding: 5px 10px;
    background-color: #003a69;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: left; 
}

@media (max-width: 1170px) {
    header {
        display: none;
    }

    .mobile-header {
        display: block;
        background-color: #002b5e;
        color: #ffffff;
        padding: 15px 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .mobile-header nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .mobile-header nav ul li {
        margin: 0 0px;
    }

    .mobile-header nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px;
        background-color: #005a8d;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .mobile-header nav ul li a:hover {
        background-color: #0073aa;
    }
}

@media (max-width: 1240px)
{
    .floating-panel {
        display: none;
        top: 0px;
    }
    
    .panel-header {
        display: none;
    }
    
    .panel-header span {
        display: none;
    }
    
    .panel-header .close-button {
        display: none;
    }
    
    .floating-panel button {
        display: none;
    }
}