* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0a1f44;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: #002b5e;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
}



@media (max-width: 1175px) {
            body > *:not(header):not(footer) {
                position: relative;
                top: -150px;
            }
        }

.youtube-section {
    margin-top: 20px;
}

.donators-section {
    margin-top: 20px;
}

.donators-section h2 {
    font-size: 1.5em;
    margin-bottom: 0px; 
}

.donators-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.donators-section li {
    font-size: 1.2em; 
    margin-bottom: 10px;
    color: #ffffff;
}

.youtube-section iframe {
    width: 700px;
    height: 393px;
    max-width: 100%;
    margin-top: 00px;
    border-radius: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.first-row, .second-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 3px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}


.first-row, .second-row {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 5px;
}

.first-row li, .second-row li {
    margin: 0 1px;
}

.first-row {
    margin-bottom: 17px;
}

.nav-button {
    background-color: #005a8d;
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #0073aa;
    text-decoration: none;
}

main {
    margin-top: 120px;
    padding: 00px;
    text-align: center;
    padding-bottom: 70px;
}

.button-section {
    margin-top: 20px;
}

.button-section a {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #005a8d;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Переходы для фона и размера */
    max-width: 300px;
    transform: scale(1);
}

.button-section a:hover {
    background-color: #0073aa;
    transform: scale(1.1);
    text-decoration: none;
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

footer {
    background-color: #002b5e;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.social-link:hover {
    text-decoration: underline;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.telegram-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.telegram-link:hover {
    text-decoration: underline;
}

.telegram-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
