* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sf';
    src: url('fonts/sf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'sf', sans-serif;
    background-color: #0a1f44;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: #002b5e;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
    position: absolute;
    align-items: center;
    display: flex;
}

.logo a {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
}

.site-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    top: 7.7px;
}

.mobile-header {
    display: none;
}

@media (max-width: 1170px) {
    header {
        display: none;
    }

    .mobile-header {
        display: block;
        background-color: #002b5e;
        color: #ffffff;
        padding: 15px 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .mobile-header nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .mobile-header nav ul li {
        margin: 0 0px;
    }

    .mobile-header nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px;
        background-color: #005a8d;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .mobile-header nav ul li a:hover {
        background-color: #0073aa;
    }
}

nav {
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.first-row, .second-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 3px;
}

header nav ul li {
    margin: 0 15px;
}

heaed nav ul li:hover{
    text-decoration: none;
    transform: scale(1.2);
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
    text-decoration: none;
    transform: scale(1.2);
}


.first-row, .second-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 3px;
}

header nav ul li {
    margin: 0 15px;

}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.first-row, .second-row {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 5px;
}

.first-row li, .second-row li {
    margin: 0 1px;
}

.first-row {
    margin-bottom: 17px;
}

.nav-button {
    background-color: #005a8d;
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

}

main {
    margin-top: 120px;
    text-align: center;
    padding-bottom: 70px;
}

@media (max-width: 800px) {
    main {
        padding-left: 30px;
        padding-right: 30px;
    	padding-bottom: 180px;
    }
}

.download-button {
    display: inline-block;
    background-color: #1c4ebf;
    color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

footer {
    background-color: #002b5e;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.social-link:hover {
    text-decoration: underline;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.telegram-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.telegram-link:hover {
    text-decoration: underline;
}

.telegram-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.palette-container {
    position: relative;
}

.palette-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 40px;
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

.palette-icon {
    width: 100%;
    height: auto;
}

.color-picker {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 1px;
    padding: 11px;
    position: absolute;
    top: calc(100% + 32px);
    right: calc(0px + 40px);
    z-index: 1001;
}

.color-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.color-option {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #dddddd;
}

.hidden {
    display: none;
}

.color-picker h4 {
    color: #000000;
    margin: 0;
}

.nav-button:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.download-button {
    transition: transform 0.3s ease;
}

.download-button:hover {
    transform: scale(1.07);
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1600px;
    margin-bottom: 20px;
}

.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0.1px black;
}