 .u-section-1 {
  background-image: url("images/windows-10-original-1366x768.jpg");
  background-position: 41.62% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 4582px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 11px 85px 0;
}

.u-section-1 .u-text-4 {
  margin: 77px auto 0;
}

.u-section-1 .u-image-1 {
  height: 830px;
  width: 1106px;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 25px auto 0 499px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -45px auto 0 331px;
  padding: 10px 42px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -45px auto 0 667px;
  padding: 10px 34px 10px 33px;
}

.u-section-1 .u-text-5 {
  margin: 125px auto 0;
}

.u-section-1 .u-image-2 {
  height: 830px;
  width: 1106px;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 25px auto 0 499px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: -45px auto 0 331px;
  padding: 10px 42px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: -45px auto 0 667px;
  padding: 10px 34px 10px 33px;
}

.u-section-1 .u-text-6 {
  margin: 125px auto 0;
}

.u-section-1 .u-image-3 {
  height: 830px;
  width: 1106px;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: 17px auto 0 422px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  margin: -45px auto 0 254px;
  padding: 10px 42px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  margin: -45px auto 0 589px;
  padding: 10px 58px 10px 57px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  margin: -45px 240px 0 auto;
  padding: 10px 34px 10px 33px;
}

.u-section-1 .u-text-7 {
  margin: 133px auto 0;
}

.u-section-1 .u-image-4 {
  height: 830px;
  width: 1106px;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  margin: 25px auto 0 499px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  margin: -45px auto 0 331px;
  padding: 10px 42px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  margin: -45px auto 60px 667px;
  padding: 10px 34px 10px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3278px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    height: 705px;
    width: 940px;
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: 299px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-left: 467px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-left: -450px;
    margin-right: -450px;
  }

  .u-section-1 .u-image-2 {
    height: 705px;
    width: 900px;
    margin-top: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: -450px;
    margin-right: -450px;
  }

  .u-section-1 .u-image-3 {
    height: 705px;
    width: 900px;
    margin-top: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 0;
    margin-left: 222px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 0;
    margin-left: 54px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 0;
    margin-left: 389px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 0;
    margin-right: 40px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: -450px;
    margin-right: -450px;
  }

  .u-section-1 .u-image-4 {
    height: 705px;
    width: 900px;
    margin-top: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 467px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2618px;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 247px;
  }

  .u-section-1 .u-text-5 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-image-2 {
    height: 540px;
    width: 680px;
  }

  .u-section-1 .u-text-6 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-image-3 {
    height: 540px;
    width: 680px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 2px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 169px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-image-4 {
    height: 540px;
    width: 680px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2078px;
  }

  .u-section-1 .u-image-1 {
    height: 405px;
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 67px;
  }

  .u-section-1 .u-text-5 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
    width: 500px;
  }

  .u-section-1 .u-text-6 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-image-3 {
    height: 405px;
    width: 500px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-image-4 {
    height: 405px;
    width: 500px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 67px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 255px;
    width: 340px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-image-2 {
    height: 255px;
    width: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-image-3 {
    height: 255px;
    width: 300px;
  }

  .u-section-1 .u-text-7 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-image-4 {
    height: 255px;
    width: 300px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 787px;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: 34px auto 0;
}

.u-section-2 .u-text-2 {
  width: auto;
  margin: 11px auto 0;
}

.u-section-2 .u-text-3 {
  width: auto;
  margin: 34px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 29px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}