 .u-section-1 {
  background-image: url("images/img23.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1099px;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-1 .u-list-1 {
  width: 320px;
  margin: 6px 250px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 180px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  --radius: 50px;
  margin: 0 auto 0 0;
  padding: 9px 53px 9px 52px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  --radius: 50px;
  margin: 0 auto 0 0;
  padding: 9px 60px 9px 59px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  --radius: 50px;
  margin: 0 auto 0 0;
  padding: 9px 31px;
}

.u-section-1 .u-list-2 {
  width: 320px;
  margin: -180px auto 0 250px;
}

.u-section-1 .u-repeater-2 {
  min-height: 180px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  --radius: 50px;
  margin: 0 auto 0 0;
  padding: 9px 68px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  --radius: 50px;
  margin: 0 auto 0 0;
  padding: 9px 57px 9px 56px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-6 {
  font-size: 1.25rem;
  --radius: 50px;
  margin: 0 auto 0 0;
  padding: 9px 101px;
}

.u-section-1 .u-btn-7 {
  font-size: 1.25rem;
  background-image: none;
  margin: 8px auto 0 260px;
  padding: 9px 36px 9px 35px;
}

.u-section-1 .u-btn-8 {
  font-size: 1.25rem;
  background-image: none;
  margin: -50px 261px 0 auto;
  padding: 9px 46px 9px 44px;
}

.u-section-1 .u-text-2 {
  margin: 64px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 94px 267px 0;
}

.u-section-1 .u-text-4 {
  width: 592px;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-9 {
  font-size: 1.25rem;
  background-image: none;
  margin: 22px auto 0;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-btn-10 {
  font-size: 1.25rem;
  background-image: none;
  margin: 11px auto 60px;
  padding: 10px 62px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 11px;
    margin-right: 150px;
  }

  .u-section-1 .u-list-2 {
    margin-left: 150px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 7px;
    margin-left: 160px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 161px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -471px;
    margin-right: 1822px;
    margin-left: -882px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 191px;
    margin-right: auto;
  }

  .u-section-1 .u-list-2 {
    margin-top: -360px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 248px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -109px;
    margin-right: 211px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -489px;
    margin-right: 1712px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 108px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 11px;
    padding-right: 50px;
    padding-bottom: 11px;
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 182px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 130px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -301px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 129px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -389px;
    margin-right: 1622px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 35px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -379px;
    margin-right: 1522px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 77px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 11px;
  }
}