 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3939px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 428px;
  margin: 34px 34px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -228px auto 0 84px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 428px;
  margin: 234px 34px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -284px auto 0 42px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 374px;
  margin: 178px 34px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -236px auto 0 69px;
}

.u-section-1 .u-image-4 {
  width: 1068px;
  height: 600px;
  margin: 147px auto 0;
}

.u-section-1 .u-image-5 {
  width: 1068px;
  height: 600px;
  margin: 11px auto 0;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 323px;
  margin: 23px auto 0 536px;
}

.u-section-1 .u-text-6 {
  margin: -217px 669px 0 65px;
}

.u-section-1 .u-text-7 {
  margin: 128px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 34px auto 0 105px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -45px auto 0 441px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -45px auto 0 273px;
  padding: 10px 42px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: -45px 376px 0 auto;
  padding: 10px 58px 10px 57px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: -45px auto 0 777px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: -45px auto 60px 893px;
  padding: 10px 34px 10px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3795px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 62px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -461px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 600px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -545px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 572px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -450px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    height: 528px;
    margin-top: 414px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 528px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -274px;
    margin-right: 623px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 105px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 479px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-left: 73px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 176px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 577px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3547px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 406px;
    margin-top: 57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 406px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: 150px;
  }

  .u-section-1 .u-text-6 {
    width: 570px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 58px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 194px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 370px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -3px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 357px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3263px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 355px;
  }

  .u-section-1 .u-image-4 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 304px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    height: 306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 43px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -2px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 177px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2495px;
  }

  .u-section-1 .u-text-2 {
    width: 215px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 224px;
  }

  .u-section-1 .u-image-4 {
    height: 189px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 31px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 93px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 946px;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: 35px auto 0;
}

.u-section-2 .u-text-2 {
  width: auto;
  margin: 11px auto 60px;
}

.u-section-2 .u-text-3 {
  width: auto;
  margin: 34px auto 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  background-image: none;
}

.u-section-2 .u-btn-3 {
  background-image: none;
}

.u-section-2 .u-btn-4 {
  background-image: none;
}

.u-section-2 .u-btn-5 {
  background-image: none;
}

.u-section-2 .u-btn-6 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin: 26px auto 0 224px;
  }

  .u-section-2 .u-btn-2 {
    margin: -45px auto 0 560px;
    padding: 10px 36px 10px 35px;
  }

  .u-section-2 .u-btn-3 {
    margin: -45px auto 0;
    padding: 10px 42px;
  }

  .u-section-2 .u-btn-4 {
    margin: 12px auto 0 257px;
    padding: 10px 58px 10px 57px;
  }

  .u-section-2 .u-btn-5 {
    margin: -45px auto 0 425px;
  }

  .u-section-2 .u-btn-6 {
    margin: -45px auto 60px 541px;
    padding: 10px 34px 10px 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-top: 18px;
    margin-left: 114px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 450px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 147px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 315px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-left: 96px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 11px;
    margin-left: 96px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -45px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 11px;
    margin-right: 114px;
    margin-left: auto;
    padding: 10px 56px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 96px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 6px;
    margin-left: auto;
  }
}