 .u-section-1 {
  background-image: url("images/se.png");
  background-position: 68.42% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 6209px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 428px;
  margin: 34px 34px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -228px auto 0 84px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 428px;
  margin: 234px 34px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -284px auto 0 42px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 374px;
  margin: 178px 34px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -236px auto 0 69px;
}

.u-section-1 .u-image-4 {
  width: 1068px;
  height: 600px;
  margin: 147px auto 0;
}

.u-section-1 .u-image-5 {
  width: 1068px;
  height: 600px;
  margin: 11px auto 0;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 323px;
  margin: 23px auto 0 536px;
}

.u-section-1 .u-text-6 {
  margin: -217px 669px 0 65px;
}

.u-section-1 .u-text-7 {
  margin: 128px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 34px auto 0 164px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -45px auto 0 500px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -45px auto 0 332px;
  padding: 10px 42px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: -45px auto 0 667px;
  padding: 10px 58px 10px 57px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: -45px auto 0 834px;
  padding: 10px 34px 10px 33px;
}

.u-section-1 .u-text-8 {
  margin: 111px auto 0;
}

.u-section-1 .u-image-7 {
  width: 1068px;
  height: 600px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-8 {
  width: 1068px;
  height: 600px;
  margin: 11px auto 0;
}

.u-section-1 .u-image-9 {
  width: 1068px;
  height: 600px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 23px 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 23px auto 0 415px;
  padding: 10px 42px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: -45px auto 60px 582px;
  padding: 10px 34px 10px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4760px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 62px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -461px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 600px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -545px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 572px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -450px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    height: 528px;
    margin-top: 414px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 528px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -274px;
    margin-right: 623px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 105px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 479px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-left: 132px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 467px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 634px;
  }

  .u-section-1 .u-image-7 {
    height: 528px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 528px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: 528px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    margin-left: -450px;
    margin-right: -450px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4140px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 406px;
    margin-top: 57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 406px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: 150px;
  }

  .u-section-1 .u-text-6 {
    width: 570px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 58px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 194px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 370px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -3px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 247px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 414px;
  }

  .u-section-1 .u-image-7 {
    height: 404px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 404px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 404px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: -340px;
    margin-right: -340px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3552px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 355px;
  }

  .u-section-1 .u-image-4 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 304px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    height: 306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 43px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -2px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 67px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 234px;
  }

  .u-section-1 .u-image-7 {
    height: 303px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 303px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 303px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: -250px;
    margin-right: -250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2448px;
  }

  .u-section-1 .u-text-2 {
    width: 215px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 224px;
  }

  .u-section-1 .u-image-4 {
    height: 189px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 31px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 34px;
  }

  .u-section-1 .u-image-7 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: -150px;
    margin-right: -150px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 946px;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: 35px auto 0;
}

.u-section-2 .u-text-2 {
  width: auto;
  margin: 11px auto 60px;
}

.u-section-2 .u-text-3 {
  width: auto;
  margin: 34px auto 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  background-image: none;
}

.u-section-2 .u-btn-3 {
  background-image: none;
}

.u-section-2 .u-btn-4 {
  background-image: none;
}

.u-section-2 .u-btn-5 {
  background-image: none;
}

.u-section-2 .u-btn-6 {
  background-image: none;
}

.u-section-2 .u-btn-7 {
  background-image: none;
}

.u-section-2 .u-text-4 {
  width: auto;
  margin: -84px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin: 305px 0 0;
  }

  .u-section-2 .u-btn-1 {
    margin: -423px auto 0 224px;
  }

  .u-section-2 .u-btn-2 {
    margin: -45px auto 0 560px;
    padding: 10px 36px 10px 35px;
  }

  .u-section-2 .u-btn-3 {
    margin: -45px auto 0;
    padding: 10px 42px;
  }

  .u-section-2 .u-btn-4 {
    margin: 12px auto 0 315px;
    padding: 10px 58px 10px 57px;
  }

  .u-section-2 .u-btn-5 {
    margin: -45px auto 0 483px;
    padding: 10px 34px 10px 33px;
  }

  .u-section-2 .u-btn-6 {
    margin: 111px auto 0 315px;
    padding: 10px 42px;
  }

  .u-section-2 .u-btn-7 {
    margin: -45px auto 0 482px;
    padding: 10px 34px 10px 33px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-top: 215px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -231px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 114px;
    margin-left: 114px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 450px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 11px;
    margin-left: 205px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 373px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 205px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-left: 96px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 11px;
    margin-left: 96px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -45px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 11px;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 115px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 282px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 6px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -167px;
    margin-left: 0;
    margin-right: 0;
  }
}