 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 5270px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 29px 46px 0 449px;
}

.u-section-1 .u-image-1 {
  width: 356px;
  height: 356px;
  margin: -214px auto 0 46px;
}

.u-section-1 .u-image-2 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: 22px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: -311px auto 0 577px;
}

.u-section-1 .u-image-4 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: -311px auto 0 577px;
}

.u-section-1 .u-image-6 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-7 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: -311px auto 0 577px;
}

.u-section-1 .u-image-8 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-9 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: -311px auto 0 577px;
}

.u-section-1 .u-image-10 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-11 {
  width: 563px;
  height: 311px;
  --radius: 10px;
  margin: -311px auto 0 577px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 24px auto 0 264px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -46px auto 0 549px;
}

.u-section-1 .u-text-4 {
  margin: 84px auto 0;
}

.u-section-1 .u-image-12 {
  width: 356px;
  height: 356px;
  margin: 0 auto 0 46px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: -286px 46px 0 449px;
}

.u-section-1 .u-image-13 {
  width: 1098px;
  height: 598px;
  margin: 99px auto 0;
}

.u-section-1 .u-image-14 {
  width: 1098px;
  height: 598px;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 34px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 100px auto 0;
}

.u-section-1 .u-image-15 {
  width: 356px;
  height: 356px;
  margin: 0 auto 0 17px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: -286px 17px 0 420px;
}

.u-section-1 .u-image-16 {
  width: 558px;
  height: 590px;
  margin: 189px auto 0 0;
}

.u-section-1 .u-image-17 {
  width: 558px;
  height: 590px;
  margin: -590px auto 0 582px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 27px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6463px;
  }

  .u-section-1 .u-text-3 {
    width: 645px;
    margin-top: 398px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -591px;
    margin-left: 292px;
    margin-right: 292px;
  }

  .u-section-1 .u-image-2 {
    width: 866px;
    height: 478px;
    margin-top: 252px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 8320px;
    margin-right: 128px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1878px;
    margin-right: 33px;
    margin-left: 344px;
  }

  .u-section-1 .u-image-6 {
    width: 866px;
    height: 478px;
    margin-top: 502px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: 47px;
    margin-left: 52px;
  }

  .u-section-1 .u-image-8 {
    width: 869px;
    height: 480px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    width: 866px;
    height: 478px;
    margin-top: -3997px;
    margin-right: 37px;
    margin-left: 37px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -366px;
    margin-left: -33px;
  }

  .u-section-1 .u-image-11 {
    width: 866px;
    height: 478px;
    margin-top: 2058px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1006px;
    margin-left: 162px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 452px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 70px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 9px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -328px;
    margin-right: 0;
    margin-left: 402px;
  }

  .u-section-1 .u-image-13 {
    height: 512px;
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-14 {
    height: 512px;
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 36px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 71px;
    margin-left: 366px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 17px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -311px;
    margin-right: 26px;
    margin-left: 429px;
  }

  .u-section-1 .u-image-16 {
    height: 718px;
    width: 685px;
    margin-top: 81px;
    margin-left: auto;
  }

  .u-section-1 .u-image-17 {
    height: 718px;
    width: 685px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 22px;
    margin-left: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5245px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 167px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 249px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: 182px;
    margin-left: 182px;
  }

  .u-section-1 .u-image-2 {
    height: 397px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 397px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 398px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: 398px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: 397px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-left: 232px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
  }

  .u-section-1 .u-image-12 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 559px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-13 {
    height: 520px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 520px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-right: 230px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: 280px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 235px;
  }

  .u-section-1 .u-image-16 {
    width: 558px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-17 {
    width: 558px;
    margin-top: 0;
    margin-left: 162px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 135px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4782px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 92px;
    margin-right: 92px;
  }

  .u-section-1 .u-image-2 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 299px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 299px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 52px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-13 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 55px;
  }

  .u-section-1 .u-image-16 {
    height: 571px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-17 {
    height: 566px;
    width: 540px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2883px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-12 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-13 {
    height: 187px;
    object-position: 92% 50%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 187px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 132px;
  }

  .u-section-1 .u-image-15 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-16 {
    height: 360px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 356px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 585px;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: 101px 0 60px;
}

.u-section-2 .u-text-2 {
  width: auto;
  margin: -165px auto 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  background-image: none;
}

.u-section-2 .u-btn-3 {
  background-image: none;
}

.u-section-2 .u-btn-4 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin: 135px auto 0;
  }

  .u-section-2 .u-btn-2 {
    margin: 16px auto 0;
  }

  .u-section-2 .u-btn-3 {
    margin: 16px auto 0;
  }

  .u-section-2 .u-btn-4 {
    margin: 16px auto 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-top: -151px;
  }
}